
<section class="container vh-100 d-flex flex-column bg-light border border-primary">

    <header class="row d-flex  flex-column align-content-around justify-content-center h-100">

        <article class="w-100 text-center py-2">
            <a href="/lists" class="btn btn-primary w-50" role="button">Lists</a>
        </article>

        <article class="w100 text-center py-2">
            <a href="/notes" class="btn btn-success w-50" role="button">Notes</a>
        </article>
    </header>
    <main class="row vh-80">

    </main>
    <footer class="row">

    </footer>

</section>

