<section class="container vh-100 d-flex flex-column bg-light border border-primary">
    <a class="btn btn-primary w-25" href="/notes" role="button">Back</a>
    <form>
        <div class="form-group">
            <label for="note-title">Title</label>
            <input type="text" class="form-control" id="note-title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="note-text">Text</label>
            <textarea class="form-control" id="note-text" rows="10"></textarea>
        </div>
        <button type="button" class="btn btn-warning" id="saveNote">Create</button>
    </form>
</section>